<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ahorcado</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="keyboard-container">
    <input type="text" id="inputField" readonly>
    <div>Intentos restantes <span id="intentos"></span> </div>
    <div id="keyboard">
      <div class="row">
        <button class="key">Q</button>
        <button class="key">W</button>
        <button class="key">E</button>
        <button class="key">R</button>
        <button class="key">T</button>
        <button class="key">Y</button>
        <button class="key">U</button>
        <button class="key">I</button>
        <button class="key">O</button>
        <button class="key">P</button>
      </div>
      <div class="row">
        <button class="key">A</button>
        <button class="key">S</button>
        <button class="key">D</button>
        <button class="key">F</button>
        <button class="key">G</button>
        <button class="key">H</button>
        <button class="key">J</button>
        <button class="key">K</button>
        <button class="key">L</button>
      </div>
      <div class="row">
        <button class="key">Z</button>
        <button class="key">X</button>
        <button class="key">C</button>
        <button class="key">V</button>
        <button class="key">B</button>
        <button class="key">N</button>
        <button class="key">M</button>
      </div>

      <div class="btn-container">
        <button onclick="location.href = 'index.html'" class="btn-salir">Salir del juego</button>
      </div>
    </div>
  </div>

  <script src="js/game.js"></script>

</body>

</html>