<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

  <body>
    <div id="container">
      <div class="menu">
        <div class="menu-item">
          <button onclick="location.href = 'keyboard.html'" class="btn-iniciar-partida">Iniciar partida</button>
        </div>
        <div class="menu-item">
          <label for="dificultad">Dificultad:</label>
          <select id="dificultad">
            <option class="dif" value="baja">Baja</option>
            <option value="media">Media</option>
            <option value="alta">Alta</option>
          </select>
        </div>

        <div class="menu-item">
          <label for="idioma">Idioma:</label>
          <select id="idioma">
            <option class="idioma" value="spanish">Español</option>
            <option class="idioma" value="english">Inglés</option>
          </select>
        </div>
      </div>
    </div>

    <script src="js/game.js"></script>

  </body>

</html>